footer{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #303841;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

.links_social{
    display: flex;
    flex-wrap: wrap;
}
.links_social a{
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
    margin-left: 20px;
    margin-bottom: 10px;
}
.links_social a:hover{
    color: var(--primary);
    transition-duration: 0.2s;
}
.copyright p{
    color:#767777;
    font-size: 0.9rem;
    font-weight: 500;
   
}
.copyright p span{
    text-decoration: none;
    color:var(--primary);
}
.copyright p span:hover{
    color: #00ADB5;
    transition-duration: 0.2s;
}